<!-- Button trigger modal -->
<!-- <button type="button" id="openModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden></button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Welcome</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Welcome, I'm Awesome Dude Helper. I'm designed to help you to finish boring work faster so we can go for some nachos. 
          Are you ready?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Let's get it!</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <h1 class="an-1">
      <div>Welcome to My Awesome Dude Helper.</div>
      <div> Hope you like it!</div>
    </h1>
</div>
